.myClass {
    background-color: white;
}

svg {
    background-color: white;
    border: solid 1px #aaa;
}

#node-modal .node-options-pane {
    .btn {
            padding: 10px 13px;
            width: 90px;

        .glyphicon {
            font-size: 2em;
        }
    }
}

#node-modal .modal-dialog {
    width: 530px;
    z-index: 999999;
    padding-top: 100px;
}

.modal-backdrop.in {
    display: none;
}

.bootstrap-styles {
  @import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
}