.myClass {
    background-color: white;
}

svg {
    background-color: white;
}

#node-modal .node-options-pane {
    .btn {
            padding: 10px 13px;
            min-width: 90px;

        .glyphicon {
            font-size: 2em;
        }
    }
}

#node-modal .modal-dialog
{
    width: 550px;
}